.register-card,
.login-card {
  background-color: #fff;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 20px;
  max-width: 400px;
  margin: 0 auto;
  font-family: Arial, sans-serif;
  margin-top: 4rem;
}
.login-card {
  margin-top: 12%;
  height: 40vh;
  width: 600px;
  padding-left: 5rem;
}
.register-card h2,
.login-card h2 {
  padding-left: 33%;
}
.login-card h2 {
  margin-top: 25%;
}
.form {
  width: 85%;
  padding-right: 2rem;
  margin-right: 1rem;
}
/* media queries for responsiveness */
@media screen and (max-width: 600px) {
  .register-card,
  .login-card {
    max-width: 100%;
    margin: 0;
  }
  .login-card {
    margin-top: 50%;
  }
  .register-card {
    margin-top: 25%;
  }
  .register-card h2,
  .login-card h2 {
    font-size: 2.2rem;
    padding-left: 35%;
  }
  .form-control {
    margin-bottom: 20px;
  }
  .form-control label {
    font-size: 1.1rem;
  }
  .form-control input,
  .form-control select {
    font-size: 1rem;
    padding: 10px;
  }
  .form-control input[type="radio"] + label {
    font-size: 1rem;
  }
  button[type="submit"] {
    width: 100%;
    font-size: 1.2rem;
  }
}

@media screen and (min-width: 601px) and (max-width: 1024px) {
  .login-card {
    max-width: 50%;
    margin-top: 20%;
  }
}

.register-card h2,
.login-card h2 {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: bold;
}

.form-control {
  margin-bottom: 20px;
}

.form-control label {
  display: block;
  margin-bottom: 5px;
  font-size: 16px;
  font-weight: bold;
}

.form-control input[type="text"],
.form-control input[type="email"],
.form-control input[type="password"],
.form-control select {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.form-control input[type="radio"] {
  display: inline-block;
  margin-right: 5px;
}

.form-control .radio-label {
  display: inline-block;
  margin-right: 15px;
  font-size: 16px;
  font-weight: normal;
}

.form-control .date-picker {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.error-message {
  color: red;
  font-size: 14px;
  margin-top: 5px;
}

.submit-button,
.login-button {
  display: block;
  width: 65%;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-size: 16px;
  margin-left: 2rem;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.submit-button:disabled,
.login-button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.submit-button:hover:not(:disabled),
.login-button:hover:not(:disabled) {
  background-color: #0069d9;
}
.radio-control {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.radio-option label {
  padding-top: 7px;
}

.radio-option {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 16px;
}
@media (max-width: 768px) {
  .radio-group {
    flex-direction: column;
    align-items: flex-start;
  }

  .radio-option {
    margin-bottom: 8px;
  }
}
.profile-picture {
  position: relative;
  width: 200px; /* adjust as needed */
  height: 200px; /* adjust as needed */
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto;
  border: 1px solid gray;
  margin-bottom: 1rem;
}

.profile-picture label {
  display: block;
  height: 100%;
  width: 100%;
  cursor: pointer;
}

.profile-picture img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: auto;
}

.profile-picture input[type="file"] {
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 0;
  cursor: pointer;
}